    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="alcohol">Alcohol content</option>
        </select>

      </div>
      <div class="col-md-10">
        <!--Body content-->
        <ul class="beers">
          <li ng-repeat="beer in beers | filter:query | orderBy:orderProp" class="thumbnail beer-listing">
            <a href="#/beers/{{beer.id}}" class="thumb"><img ng-src="{{beer.img}}"></a>
            <a href="#/beers/{{beer.id}}">{{beer.name}}</a>
            <p>{{beer.description}}</p>
          </li>
        </ul>
      </div>
    </div>